<div>
  <p id="notice"><%= flash[:notice] %></p>
</div>

<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= @user.introduction %></p>

  <% if @user == current_user %>
    <p><%= link_to "Edit", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <!--< image_tag book.get_image %>-->
  <% end %>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <!--<p>ショップ名：< book.shop_name %></p>-->
  <!--<p>説明：< book.caption %></p>-->
  <p><%= book.user.name %></p>
  <td><%=link_to "Show", book_path(book.id) %></td>
</div>
<% end %>